@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-p{
    box-shadow: 0px 3px 10px 0px  #DDDDDD;
}

.font-4{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    /* font-weight: ; */
    font-style: normal;
  }